
[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=kikoremote
Group=kikoremote
WorkingDirectory=/home/kikoremote/app/src/
Environment="PATH=/home/kikoremote/app/venv/bin"
EnvironmentFile=/home/kikoremote/.env
ExecStart=/home/kikoremote/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target